{% extends "base.html" %}

{% block title %}
    About Me |  О работе
{% endblock %}

{% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">About</span> Me
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a class="page-scroll" href="http://127.0.0.1:8000">На главную</a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h2>Работа</h2>

                {% for work in place_of_work %}
                <ul class="about-list">
                    <li><h4><a href="http://127.0.0.1:8000/work/organization/{{ work.organization.id }}/" target="_blank">{{ work.organization.name }}</a> <small>{{ work.organization.region }}</small></h4></li>
                    <li><span>Должность:</span> {{ work.position }}</li>
                    <li><span>Период:</span> {{ work.start }} - {% if work.end != NOW %}{{ work.end }}{% else %}настоящее время{% endif %}</li>
                    <li><span>Описание:</span> {{ work.duties }}</li>
                </ul>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
